<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
      <small>
        <time><%= post.created_at.to_date.strftime("%d %B, %Y")%></time>
        |
        <%= link_to t('.edit'), edit_post_path(post), class: "btn btn-outline-warning btn-sm" %>
        |
        <%= link_to t('.delete'), post_path(post), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Вы уверены' } %>
      </small>
  </section>
  <section class="post-summary">
    <%= image_tag post.image_url(:thumb), class: 'img-thumbnail thumb' if post.image? %>
    <%= post.summary %>
  </section>
</article>


   


 