<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="<%= posts_path %>"><%= t('.title') %></a>
        <% if user_signed_in? %>
          <div class="offset-8">
            <%= link_to t('.exit'), destroy_user_session_path, method: :delete, class: "nav-link" %>
          </div>
        <% else %>
          <div class="offset-7">
            <%= link_to t('.inter'), new_user_session_path, class: "btn btn-success" %>
          </div>
          <div>
            <%= link_to t('.registration'), new_user_registration_path, class: "btn btn-info" %>
          </div>
        <% end %>
        <ul class="navbar-nav pull-xs-right">
          <li class="nav-item<%= " active" if I18n.locale ==:ru %>">
            <%= link_to "Рус", {locale: :ru }, class: "btn btn-outline-primary btn-sm" %>
          </li>
           <li class="nav-item<%= " active" if I18n.locale ==:en %>">
            <%= link_to "En", {locale: :en }, class: "btn btn-outline-primary btn-sm" %>
          </li>
        </ul>
      </nav>

    <div class="container maine">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name) %>">
              <button class="close" data-dismiss="alert">&times;</button>
                <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
